@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(fonts/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(fonts/AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #222222;
  --secondary-color: #ff6d1f;
  --ternary--color-1: #f5e7c6;
  --ternary--color-2: #faf3e1;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

nav {
  width: 100%;
  height: 60px;
  background-color: var(--ternary--color-2);
}

section.allElems {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 3rem;
  height: 100vh;
  position: relative;
}

.allElems .elem {
  height: 20vw;
  width: 14vw;
  position: relative;
  transition: 0.3s all ease;
}

.elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.elem h2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.elem:active {
  scale: 0.95;
}
.page {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  color: white;
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  top: 0;
}

.page .close-btn {
  padding: 0.4rem 0.8rem;
  border: none;
  background-color: var(--secondary-color);
  border-radius: 7px;
  color: white;
  font-weight: 700;
  position: absolute;
  right: 5%;
  top: 5%;
}

.todo-page-container {
  display: block;
  padding: 2rem;
}
.todo-page-container h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 1rem;
  font-size: 2rem;
}
.todo-page {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.todo-form {
  width: 30%;
  border-radius: 10px;
  background-color: rgb(197, 197, 197);
}

.todo-form form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.todo-form form input {
  padding: 0.8rem;
  background-color: rgb(50, 50, 50);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}

.todo-form form textarea {
  background-color: rgb(51, 51, 51);
  padding: 0.8rem;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}

.todo-form form button {
  background-color: rgb(190, 156, 111);
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 10px lightgray;
  font-weight: 700;
  color: black;
}
.todo-tasks {
  width: 70%;
  background-color: rgb(197, 197, 197);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}

.todo-tasks .todo-card {
  width: 48%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  color: black;
  box-shadow: 2px 4px 20px darkgray;
}

.todo-card h4 {
  display: flex;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  margin-top: 0.5rem;
  border-radius: 10px;
  gap: 1rem;
}

.important {
  background-color: var(--secondary-color);
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
  font-weight: 300;
  font-size: 0.8rem;
}
.not-imp {
  opacity: 0;
}
.card-footer .imp-btn {
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  border: none;
  background-color: #60ff6e;
  color: rgb(34, 34, 34);
  font-weight: 600;
}

.card-footer .delete-btn {
  padding: 0.5rem 0.6rem;
  border-radius: 10px;
  border: none;
  background-color: #f60400;
  color: rgb(30, 30, 30);
  font-weight: 600;
}

.mark-important {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: rgb(55, 30, 30);
  font-weight: 700;
}

.mark-important input {
  scale: 1.4;
  margin-right: 0.4rem;
}
